[Unit]
Description=Meshblu Connector PM2
Requires=network.target

[Service]
Type=forking
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
User=meshblu-connectors
PermissionsStartOnly=true
PIDFile=/var/run/meshblu-connector-pm2/pm2.pid
Environment=PM2_HOME=/var/run/meshblu-connector-pm2
Environment=MESHBLU_CONNECTOR_HOME=/usr/share/meshblu-connectors

ExecStart=/usr/local/bin/meshblu-connector-configurator-loader
ExecReload=/usr/local/bin/meshblu-connector-pm2 reload all
ExecStop=/usr/local/bin/meshblu-connector-pm2 kill

[Install]
WantedBy=multi-user.target
